<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title><%= title %></title>
    <style>
      header {
        font-size: 50px;
      }
      section h1{
        font-size: 30px;
      }
      body{
        text-align: center;
        background-color: green;
      }
      p{
        font-size: 20px;
      }
      button {
        background-color: #f44336; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
<header>Vítejte ve hře Tanks vs Tanks</header>
  <section><h1>Hra je pro 2 a více hráčů</h1></section>
  <section><h2>Ovládání:</h2>
  <p>Pomocí šipek a myši<br/>
    <a href="/game"><button>Vstupte</button></a></p>
    <img src="/images/assets/mapa.png">
  </section>
  </body>

</html>
